.app {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.container {
  border: 1px solid #555555;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 27px;
  text-align: center;
}

#user-id, #password {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 40px;
  width: 25%;
  font-size: 15px;
  color: #fff;
  background: #4d4d4d;
  border: 0;
  cursor: pointer;
  margin-right: 15px;
}

@media (max-width: 600px) {
  .btn {
    width: 50%;
  }

  button:last-child {
    margin-right: 0;
  }
}

.show-toast {
  visibility: visible;
  min-width: 200px;
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 68%;
  top: -83px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.hide-toast{
  visibility: hidden;
}

/* Animations to fade in and out the toast */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: -83px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: -83px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: -83px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: -83px; opacity: 1;}
  to {top: 0; opacity: 0;}
}